<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Teknowmics-Invoice-Project</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css"
          th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
    <h1>My Website</h1>
    <p>Fill the form and download the Invoice.</p>
</div>

<div class="topnav">
    <a id="addDataForm" href="#">Fill the Data</a>
    <a id="showDataForm" href="#">View & Download Invoice</a>

</div>

<div class="row">
    <div class="leftcolumn">
        <div id="addData" class="card">
            <h2>ADD NEW DATA</h2>
            <h5>Inventory updated, Dec 30, 2019</h5>
            <form id="orderForm" action="/product/purchase" method="POST">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Customer Name</label>
                    <input required type="text" class="form-control" id="customerName" name="customerName"
                           placeholder="customer name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Customer Mobile</label>
                    <input required type="text" class="form-control" id="mobile" name="mobile"
                           placeholder="10 digit number">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Customer Address</label>
                    <input required type="text" class="form-control" id="addressLine1" name="addressLine1"
                           placeholder="12B, Hill View Appartment, Kochi">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Select multiple product to purchase</label>
                    <select required multiple class="form-control" id="purchaseItemsIds" name="purchaseItemsIds">
                        <option value="7">Dish Washer</option>
                        <option value="6">Brash</option>
                        <option value="5">Sugar</option>
                        <option value="4">Rice</option>
                        <option value="2">Washing Soap</option>
                        <option value="3">Maggi</option>
                        <option value="1">Soap</option>
                    </select>
                </div>
            </form>
            <button type="button" id="makePurchase" class="btn btn-primary btn-lg">Place Order</button>
        </div>
        <div id="viewData" class="card">
            <h2>VIEW ALL DATA</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <table id="invoiceDataTable" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Purchase Date</th>
                    <th scope="col">Bill Amount</th>
                    <th scope="col">Invoice</th>
                </tr>
                </thead>
                <tbody id="invoiceTableRow">
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="footer">
    <h2>Thanks For Shopping</h2>
</div>

<script>
    $(document).ready(function () {
        $("#viewData").hide();
        $("#addDataForm").click(function () {
            $("#addData").show();
            $("#viewData").hide();
        });

        $("#showDataForm").click(function () {
            $("#invoiceDataTable").find("tr:gt(0)").remove();
            $("#addData").hide();
            $("#viewData").show();
            var data = getAllInvoices();
        });

        $("#makePurchase").click(function () {
            var reqeustData = {
                "user": {
                    "customerName": $('#customerName').val(),
                    "mobile": $('#mobile').val(),
                    "addresses": [
                        {
                            "addressLine1": $('#addressLine1').val(),
                            "addressLine2": null,
                            "pincode": null
                        }
                    ]
                },
                "purchaseItemsIds": $('#purchaseItemsIds').val()
            }

            $.ajax({
                url: '/product/purchase',
                type: 'post',
                contentType: "application/json",
                dataType: 'json',
                data: JSON.stringify(reqeustData),
                success: function (data) {
                    $('#customerName').val(null);
                    $('#mobile').val(null);
                    $('#addressLine1').val(null);
                    $('#purchaseItemsIds').val(null);
                    alert('Oder Placed Successfully!')
                },
                error: function (error) {
                    alert('Failed to save data!')
                }
            });
        });

        function getAllInvoices() {
            $.ajax({
                url: '/invoice?page=0&count=100',
                type: 'get',
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    appendInvoicesToTable(data);
                    return data;
                },
                error: function (error) {
                    alert('Failed to save data!')
                }
            });
        }

        function appendInvoicesToTable(invoiceList) {
            jQuery.each(invoiceList, function (i, val) {
                $('#invoiceTableRow').append('<tr><th scope="row">' + i + '</th><td>' + val.user.customerName + '</td><td>' + val.purchaseTime + '</td><td>' + val.billAmount + '</td><td><a href="/view-invoice/' + val.id + '" target="_blank">download</a></td></tr>');
            });
        }
    });
</script>
</body>
</body>
</html>